name: Build Csolution examples
on:
  workflow_dispatch:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  schedule:
    - cron: '30 22 * * 0'

jobs:
  build-and-run:    
    name: Build and Run

    strategy:
      fail-fast: true
      matrix:
        compiler: [AC6, GCC, Clang]

    runs-on: ubuntu-latest

    env:
        ARM_UBL_ACTIVATION_CODE: ${{secrets.ARM_UBL_ACTIVATION_CODE}}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'    
          cache: 'pip'

      - name: Python requirements
        run: |
          pip install -r requirements.txt

      - name: Setup vcpkg environment
        uses: JonatanAntoni/actions/vcpkg@main
        with:
          config: vcpkg-configuration.json
          
      - name: Activate Arm tool license
        run: |
          if [[ -n "${{ env.ARM_UBL_ACTIVATION_CODE }}" ]]; then
            armlm activate --code ${{ env.ARM_UBL_ACTIVATION_CODE }}
          else
            armlm activate --server https://mdk-preview.keil.arm.com --product KEMDK-COM0
          fi

      - name: Build Hello project
        if: always()
        run: |
          cd Hello
          ./build.py --verbose -c ${{ matrix.compiler }} build run

      - name: Build DualCore
        if: always() && matrix.compiler == 'AC6'
        run: |
          cd DualCore
          cbuild HelloWorld.csolution.yml --packs --update-rte --toolchain ${{ matrix.compiler }}

      - name: SimpleTrustZone
        if: always()
        run: |
          cd SimpleTrustZone
          ./build.py --verbose -c ${{ matrix.compiler }} build run
          

      - name: Deactivate Arm tool license
        if: always()
        run: |
          if [[ -n "${{ env.ARM_UBL_ACTIVATION_CODE }}" ]]; then
            armlm deactivate --code ${{ env.ARM_UBL_ACTIVATION_CODE }}
          else
            armlm deactivate --product KEMDK-COM0
          fi
