name: Build Csolution examples
on:
  workflow_dispatch:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
        ARM_UBL_ACTIVATION_CODE: ${{secrets.ARM_TOKEN}}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup vcpkg environment
        uses: JonatanAntoni/actions/vcpkg@main
        with:
          config: vcpkg-configuration.json

          
      - name: Activate Arm tool license
        run: |
          if [[ -n "${{ env.ARM_UBL_ACTIVATION_CODE }}" ]]; then
            armlm activate --code ${{ env.ARM_UBL_ACTIVATION_CODE }}
          else
            armlm activate --server https://mdk-preview.keil.arm.com --product KEMDK-COM0
          fi

      - name: Build Hello project
        if: always()
        run: |
          cd Hello
          cbuild Hello.csolution.yml --packs

      - name: Build DualCore
        if: always()
        run: |
          cd DualCore
          cbuild HelloWorld.csolution.yml --packs --update-rte

      - name: SimpleTrustZone
        if: always()
        run: |
          cd SimpleTrustZone
          cbuild SimpleTZ.csolution.yml --packs --update-rte
          

      - name: Deactivate Arm tool license
        if: always()
        run: |
          if [[ -n "${{ env.ARM_UBL_ACTIVATION_CODE }}" ]]; then
            armlm deactivate --code ${{ env.ARM_UBL_ACTIVATION_CODE }}
          else
            armlm deactivate --product KEMDK-COM0
          fi
