name: "Hello: Test Build and Execution"
on:
  workflow_dispatch:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  schedule:
    - cron: '00 20 * * 6'

jobs:
  Build:
    strategy:
      fail-fast: false

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install tools
        uses: ARM-software/cmsis-actions/vcpkg@v1
        with:
          config: ".ci/vcpkg-configuration.json"

      - name: Activate Arm tool license
        uses: ARM-software/cmsis-actions/armlm@v1

      - name: Build Hello with AC6 and all contexts
        working-directory: ./Hello/
        run: |
            cbuild Hello.csolution.yml --update-rte --packs --toolchain AC6

      - name: Run Hello build-type Debug, AC6
        if: always()
        working-directory: ./Hello/
        run: |
            FVP_Corstone_SSE-300 -a ./out/Hello/CS300/Debug/Hello.axf -f ./../FVP/FVP_Corstone_SSE-300/fvp_config.txt \
            -C mps3_board.uart0.out_file=./out/Hello/CS300/Debug/AC6_fvp_stdout.log \
            --simlimit 60 --stat
            echo " Show simulation UART output build with AC6 Debug"
            cat ./out/Hello/CS300/Debug/AC6_fvp_stdout.log

      - name: Run Hello build-type Release, AC6
        if: always()
        working-directory: ./Hello/
        run: |
            FVP_Corstone_SSE-300 -a ./out/Hello/CS300/Release/Hello.axf -f ./../FVP/FVP_Corstone_SSE-300/fvp_config.txt \
            -C mps3_board.uart0.out_file=./out/Hello/CS300/Release/AC6_fvp_stdout.log \
            --simlimit 60 --stat
            echo " Show simulation UART output build with AC6 Release"
            cat ./out/Hello/CS300/Release/AC6_fvp_stdout.log

      - name: Build Hello with GCC and all contexts
        if: always()
        working-directory: ./Hello/
        run: |
            cbuild Hello.csolution.yml --update-rte --packs --toolchain GCC

      - name: Run Hello build-type Debug, GCC
        if: always()
        working-directory: ./Hello/
        run: |
            FVP_Corstone_SSE-300 -a ./out/Hello/CS300/Debug/Hello.elf -f ./../FVP/FVP_Corstone_SSE-300/fvp_config.txt \
            -C mps3_board.uart0.out_file=./out/Hello/CS300/Debug/GCC_fvp_stdout.log \
            --simlimit 60 --stat
            echo " Show simulation UART output build with GCC Debug"
            cat ./out/Hello/CS300/Debug/GCC_fvp_stdout.log

      - name: Run Hello build-type Release, GCC
        if: always()
        working-directory: ./Hello/
        run: |
            FVP_Corstone_SSE-300 -a ./out/Hello/CS300/Release/Hello.elf -f ./../FVP/FVP_Corstone_SSE-300/fvp_config.txt \
            -C mps3_board.uart0.out_file=./out/Hello/CS300/Release/GCC_fvp_stdout.log \
            --simlimit 60 --stat
            echo " Show simulation UART output build with GCC Release"
            cat ./out/Hello/CS300/Release/GCC_fvp_stdout.log
